# .NET build artifacts
*.o
*.lo
*.la
*.al
*.exe
*.dll
*.so
*.dylib
*.ncb
*.suo
*.pdb
*.idb
*.ipdb
*.lib
*.a
*.lis
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.npm
*.obj
*.pch
*.pgc
*.pgd
*.pgf
*.pgi
*.pgs
*.pgu
*.pgv
*.pgx
*.pgz
*.pgx
*.tmp
*.tmp_proj
*.pidb
*.rsp
*.sbr
*.sdf
*.sqlproj.user
*.suo
*.user
*.userosscache
*.ilk
*.tlog
*.xproj.user
*.xtargets
*.xaml.*
*.xap
*.xapdeploy
*.xml.transform
bin/
obj/
Debug/
Release/
publish/
*.swp
Thumbs.db
ehthumbs.db
Desktop.ini
.env
