h1 {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin: 0;
}

p {
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
}

.btn {
    width: 100px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #2F80ED;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    cursor: pointer;

    font-family: 'Noto Sans', sans-serif;

    padding: 8px;
}

.image-loader__input {
    display: none;
}

.error {
    color: #EB5757;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
}