.image-loader {

    width: 130%;
    height: 220px;

    background-color: #F6F8FB;
    border-radius: 12px;
    border: 1px dashed #97BEF4;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.image-loader img {
    width: 116px;
    height: 90px;
    margin-bottom: 1rem;
}

.image-loader p {
    color: #BDBDBD;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
    margin: 0;
}